<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Convidados Vue</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
</head>

<body>
    <div id="app">
        <b-container>
            <b-alert :key="i" v-for="(erro, i) in erros" variant="danger" dismissible show>{{erro}}</b-alert>
            <b-row align-h="center">
                <b-col cols="auto">
                    <h1 class="display-4" h-align="center">{{titulo}}</h1>

                </b-col>
            </b-row>
            <b-card class="mb-5">
                <form>
                    <b-row align-v="center">
                        <b-col cols="12" md="8" lg="6">
                            <b-form-group label="Nome" label-for="nome">
                                <b-form-input id="nome" v-model="convidado.nome" type="text" placeholder="Ex: Jão da Silva" required></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="8" lg="6">
                            <b-form-group label="Idade" label-for="idade">
                                <b-form-input id="idade" v-model="convidado.idade" type="number" placeholder="Ex: 20" required>
                                </b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row align-v="center">
                        <b-col cols="12">
                            <b-form-group label="Email" label-for="email">
                                <b-form-input id="email" v-model="convidado.email" type="email" placeholder="Ex: jao@gmail.com" required></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row align-v="center">
                        <b-col cols="12" md="2" lg="2">
                            <b-form-group label="CEP" label-for="cep">
                                <b-form-input v-mask=" '##.###-###'" @keyup="buscarCep" id="cep" v-model="convidado.endereco.cep" type="text" placeholder="Ex. 79.041-080" required></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="10" lg="8">
                            <b-form-group label="Logradouro" label-for="logradouro">
                                <b-form-input id="logradouro" v-model="convidado.endereco.logradouro" type="text" placeholder="Ex. Rua tal " required></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="2" lg="2">
                            <b-form-group label="Numero" label-for="numero">
                                <b-form-input id="numero" v-model="convidado.endereco.numero" type="text" placeholder="Ex. Número 0" required></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="5" lg="5">
                            <b-form-group label="Bairro" label-for="bairro">
                                <b-form-input id="bairro" v-model="convidado.endereco.bairro" type="text" placeholder="Ex. Cidade de Deus" required></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="5" lg="5">
                            <b-form-group label="Cidade" label-for="cidade">
                                <b-form-input id="cidade" v-model="convidado.endereco.cidade" type="text" placeholder="Ex. Campo Grande" required></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="2" lg="2">
                            <b-form-group label="Estado" label-for="estado">
                                <b-form-input id="estado" v-model="convidado.endereco.estado" type="text" placeholder="Ex. Estado" required></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row align-h="end">
                        <b-col cols="auto">
                            <b-button variant="outline-warning" @click="removerLista">Limpar lista</b-button>
                            <b-button variant="outline-danger" @click="limpar">Cancelar</b-button>
                            <b-button type="button" variant="success" @click="salvar">Salvar</b-button>
                        </b-col>

                </form>
            </b-card>
            <b-card>
                <b-row>
                    <b-col cols="11">
                        <b-form-group>
                            <b-form-input v-model="textoBusca" type="text" placeholder="Buscar por nome"></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-row align-h="end">
                        <b-col cols="auto">
                            <b-button variant="primary" @click="buscar">Buscar</b-button>
                        </b-col>
                    </b-row>
                </b-row>

                <b-table striped :items="listaConvidados" :fields="campos">
                    <template v-slot:cell(acoes)="row">
                        <b-button><img src="img/pencil.svg" @click="editar(row.index)" width="20" alt="icone do editar"></b-button>
                        <b-button><img src="img/trash.svg" @click="confirmarRemocao(row.index)" width="20" alt="icone de excluir"></b-button>
                    </template>
                </b-table>
            </b-card>

        </b-container>
        <b-modal title="Alerta de Exclusão" centered v-model="exibirModalRemocao">
            <p>Deseja Realmente Excluir?</p>
            <template v-slot:modal-footer="{ cancel }">
                <b-button @click="remover" variant="outline-danger">Sim</b-button>
                <b-button @click="cancel" variant="primary">Cancelar</b-button>
            </template>
        </b-modal>
        <b-modal title="Alerta de Exclusão" centered v-model="exibirModalRemocaoLista">
            <p>Deseja Realmente Excluir Toda a sua Lista?</p>
            <template v-slot:modal-footer="{ cancel }">
                <b-button @click="confirmarRemocaoLista" variant="outline-danger">Sim</b-button>
                <b-button @click="cancel" variant="primary">Cancelar</b-button>
            </template>
        </b-modal>
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script type="module">
        import { EnderecoService } from "./services/endereco.service.js" 
        
             Vue.use(VueMask.VueMaskPlugin)
            //instanciando um novo Vue
        let app = new Vue({
            el: "#app",
            data: {
                erros: [],
                titulo: "Lista de Convidados",
                textoBusca: "",
                indiceEdicao: -1,
                indiceRemocao: -1,
                exibirModalRemocao: false,
                exibirModalRemocaoLista: false,
                convidados: [],
                listaConvidados: [],
                convidado: {
                    endereco: {}
                },
                campos: [{
                        label: "Nome",
                        key: "nome",
                        sortable: true
                    }, {
                        label: "Idade",
                        key: "idade",
                        sortable: false
                    }, {
                        label: "Email",
                        key: "email",
                        sortable: true
                    }, {
                        label: "CEP",
                        key: "endereco.cep",
                        sortable: false
                    }, {
                        label: "Ações",
                        key: "acoes",
                        sortable: false
                    }

                ]

            },
            methods: {
                salvar() {
                    this.erros = []
                    this.validar()
                    if (this.erros.length <= 0) {
                        this.indiceEdicao > -1 ?
                            this.convidados.splice(this.indiceEdicao, 1, this.convidado) :
                            this.convidados.push(this.convidado)
                        this.limpar()
                        this.listaConvidados = JSON.parse(JSON.stringify(this.convidados))

                    }
                },
                limpar() {
                    this.convidado = {
                        endereco: {}
                    }
                    this.indiceEdicao = -1
                    this.indiceRemocao = []
                    this.erros = []
                },
                editar(index) {
                    this.convidado = JSON.parse(JSON.stringify(this.listaConvidados[index]))
                    this.indiceEdicao = index
                },
                remover() {
                    this.convidados = this.convidados.filter(e => e.email != this.listaConvidados[this.indiceRemocao].email)
                    this.listaConvidados.splice(this.indiceRemocao, 1)

                    this.exibirModalRemocao = false
                    this.limpar()

                },
                confirmarRemocao(indice) {
                    this.exibirModalRemocao = true
                    this.indiceRemocao = indice
                },
                removerLista() {
                    this.convidados.length > 0 && (this.exibirModalRemocaoLista = true)
                },
                confirmarRemocaoLista() {
                    this.listaConvidados = []
                    this.convidados = []
                    this.exibirModalRemocaoLista = false
                    this.limpar();
                },
                validar() {
                    this.erros = [];
                    (!this.convidado.nome) && this.erros.push("O nome é obrigatório");
                    (!this.convidado.email) && this.erros.push("O email é obrigatório");
                    (!this.convidado.idade) && this.erros.push("A idade é obrigatória");
                    (!this.convidado.endereco.cep) && this.erros.push("O CEP é obrigatório");
                    if (this.indiceEdicao < 0) {
                        (this.convidados.findIndex(e => e.email === this.convidado.email)) > -1 && this.erros.push("O convidado já está cadastrado.");

                    }


                },
                buscar() {
                    this.listaConvidados = this.convidados.filter(e => {
                        return e.nome.toLowerCase().includes(this.textoBusca.toLowerCase())
                    })

                },
                async buscarCep() {
                   try {
                       
                       if (this.convidado.endereco.cep.length === 10) {
                           let resultado = await EnderecoService.buscarPorCep(this.convidado.endereco.cep)
                           this.convidado.endereco.logradouro = resultado.logradouro
                           this.convidado.endereco.bairro = resultado.bairro
                           this.convidado.endereco.cidade = resultado.cidade
                           this.convidado.endereco.estado = resultado.estado
                       }
                       this.erros = []
                   } catch (erro) {
                      this.erros.push(erro.mensagemCliente)
                       console.log(erro.message)
                   }     


                }
            }
        })
    </script>
</body>

</html>