<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Convidados Vue</title>
</head>

<body>
    <div id="app">

        <form>
            < <h1 class="text-center my-3">{{titulo}}</h1>
                <div class="row justify-content-center">
                    <div class="card col col-10 col-sm-8 col-md-6 p-5">
                        <input class="form-control mb-2" v-model="convidado.nome" type="text" placeholder="Nome">
                        <input class="form-control mb-2" v-model="convidado.idade" type="number" placeholder="Idade">
                        <input class="form-control mb-2" v-model="convidado.email" type="email" placeholder="Email">
                        <div class="d-flex justify-content-start">
                            <input class="form-control mb-2 mr-2 w-100" v-model="convidado.endereco.rua" type="text" placeholder="Rua">
                            <input class="form-control mb-2 w-25" v-model="convidado.endereco.numero" type="number" placeholder="Número">
                        </div>
                        <div class="d-flex justify-content-start">
                            <input class="form-control mb-2 2 mr-2 w-50" v-model="convidado.endereco.cidade" type="text" placeholder="Cidade">
                            <input class="form-control mb-2 2 mr-2 w-25" v-model="convidado.endereco.estado" type="text" placeholder="Estado">
                            <input class="form-control mb-2 w-25" v-model="convidado.endereco.cep" type="number" placeholder="cep">
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-warning mr-1">Limpar Lista</button>
                            <button class="btn btn-outline-danger mr-1">Cancelar</button>
                            <button class="btn btn-success mr-1" @click="salvar">Salvar</button>
                        </div>
                    </div>
                </div>
        </form>
        <section>

        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        //instanciando um novo Vue
        let app = new Vue({
            el: "#app",
            data: {
                titulo: "Lista de Convidados",
                listaConvidados: [],
                convidado: {
                    endereco: {}
                }
            },
            methods: {
                salvar() {
                    this.listaConvidados.push(this.convidado)
                    this.limpar()
                },
                limpar() {
                    this.convidado = {
                        endereco: {}
                    }
                }
            }
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</body>

</html>